.App {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* height: 100vh; */
  font-family: Arial, sans-serif;
  background-color: burlywood;
  /* padding-top: 10px; // 避免內容被標頭遮住 */
}

.container {
  text-align: center;
  margin-top: 50px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

/* button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: darkgoldenrod;
} */

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div {
  margin: 10px 0;
}

input {
  padding: 8px;
  font-size: 16px;
}

#header_icon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

#logout {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

#dashboard_icon {
  position: absolute;
  top: 0;
  right: 50px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

#fortune_header {
  text-align: center;
}

#eleven {
  font-weight: bolder;
  color: red;
}

#dont_do_that {
  font-weight: bolder;
  color: red;
}

#can_do_that {
  font-weight: bolder;
  color: green;
}

#doc {
  font-size: larger;
  font-weight: 500;
}

#question_form {
  background-color: #f5f5f5; /* 淡灰色背景 */
  border: 1px solid #333;   /* 深色邊框 */
  padding: 20px;
  margin: 20px auto;
  width:60%;
  border-radius: 5px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#question {
  width: 15cm;
}

button {
  background-color: #333;  /* 深色背景 */
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: #555; /* 懸停效果 */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid black;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal button {
  margin: 10px;
}

.submit-status {
  /* margin-top: 20px; */
  font-weight: bold;
  color: green; /* 成功訊息可用綠色 */
  align-items: center;
}
